@use '../abstacts/colors';
@use '../abstacts/mixins';
@use '../abstacts/variables';

.header {
  @include mixins.flex;
  background: colors.$dark-violet;
  color: colors.$white;
  padding: variables.$nav_height+6rem variables.$lg-space 6rem;
  position: relative;
  z-index: 2;
  align-items: start;
  height: 100vh;

  .header_left {
    flex-basis: 50%;
    flex-shrink: 0;

    .header_left_text {
      &::before {
        @include mixins.horizontal-line;
      }
      h1 {
        font-family: variables.$dm-serif;
        font-size: 3.8rem;
        letter-spacing: 2px;
        font-weight: 300;
        line-height: 3.8rem;
        padding-bottom: 2rem;
      }
  
      p {
        font-family: variables.$karla-regular;
        font-size: 0.9rem;
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        font-weight: 300;
        margin-bottom: 1rem;
        color: colors.$very-light-gray;
      }
  
      button {
        @include mixins.button;
        @include mixins.font-style-list;
        margin-bottom: 0;
        position: relative;
        z-index: 10;
        &:hover {
          @include mixins.hover($bg: colors.$white, $color: colors.$very-dark-violet);
        }
      } 
    }
    
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(65%);
    }
    
  }

  .header_right {
    flex-basis: 50%;
    flex-shrink: 0;

    .header_right_wrapper {
      margin-right: 2rem;
      text-align: end;
      
      img {
        object-fit: fill;
        height: auto;
        width: 100%;
      }
    }
    
    .header_right_pattern {
      position: absolute;
      z-index: 10;
      top:0;
      right: 0;
    }
  }
}

@media screen and (max-width: variables.$media-query-md) {
  .header {
    @include mixins.flex(column-reverse);
    gap: 0;
    padding: 0;
    height: auto;

    .header_left {
      position: relative;
      padding: variables.$nav_height 0;
      text-align: center;

      .header_left_text {
        padding-inline: variables.$md-space;
        &::before {
          display: none;
        }
      }
      
      img {
        top: -3px;
        left: 0;
        transform: unset;
      }
    }

    .header_right {
      width: 100%;
      padding-top: variables.$nav_height;
      
      .header_right_wrapper {
        height: auto;
        margin-right: 0;

        img {
          z-index: 100;
        }
      }

      .header_right_pattern {
        top: 85%;
        right: 0;
      }
    }
  }
}


@media screen and (max-width: variables.$media-query-sm) {
  .header {
    .header_left {
      .header_left_text {
        padding-inline: variables.$sm-space;
        
        h1 {
          font-size: 2.2rem;
          line-height: 2rem;
          padding-bottom: 1rem;
        }
        
        p {
          font-size: 0.8rem;
        }
      }
    }

  }
}