$sm-space: 1.5rem;
$md-space: 5rem;
$lg-space: 9rem;

$dm-serif: 'DM Serif Display';
$karla-regular: 'Karla Regular';
$karla-bold: 'Karla Bold';

$media-query-md: 1000px;
$media-query-sm: 700px;

$nav_height: 4.8rem;